In [1]:
import pandas as pd

df = pd.read_csv('../data/150603_wafer_S_summary.csv', index_col = 0)
df = df.fillna(value = '')
df

   anneal acetone  growth temp  dummy
1   2-Jun   False
2            True
3            True
4            True
5           False
6            True
7            True
8            True
9           False
10           True
11           True
12           True
13  2-Jun   False   2-Jun  900  False
14  2-Jun   False   3-Jun  910  False
15  2-Jun   False   3-Jun  920  False
16  2-Jun   False   4-Jun  910   True
17  2-Jun   False  11-Jun  920   True