#Growth parameters

In [2]:
import pandas as pd

data = pd.read_csv('../data/150714_W_summary.csv', index_col = 0)
data = data.fillna(value = '')
data

   anneal_time  growth T_growth pos T_eff
1            1  13-Jul      910   0   910
2            1  13-Jul      910  57   894
3            1  14-Jul      930   0   930
4            1  14-Jul      930  57   914
5            1  14-Jul      955   0   955
6            1  15-Jul      885   0   885
7            1  15-Jul      885  57   869
8            1  14-Jul      955  57   939
9
10
11          11
12          11
13          11
14          11
15          11

### Legend
- anneal_time: length of air anneal in hrs
- growth: date of growth
- T_growth: furnace set temp
- pos: offset from center of furnace in mm (one chip is 17 mm)
- T_eff: effective temp taking the offset into account