#Growth parameters

In [3]:
import pandas as pd

data = pd.read_csv('../data/150802_V_summary.csv', index_col = 0)
data = data.fillna(value = '')
data

,anneal_time,growth,T_growth,pos,T_eff,remarks
1,0,,,,,exposed to oxygen plasma twice for ~2min
2,10,,,,,
3,,,,,,
4,,,,,,"annealed at 400C for 30min, then (at another t..."
5,,,,,,
6,,,,,,
7,1,,,,,
8,2,,,,,
9,,,,,,
10,,,,,,
11,,,,,,
12,,,,,,
13,,,,,,
14,,,,,,
15,,,,,,

### Legend
- anneal_time: length of air anneal in hrs
- growth: date of growth
- T_growth: furnace set temp
- pos: offset from center of furnace in mm (chip size is 17 mm)
- T_eff: effective temp taking the offset into account